body {
    background: #1d1d1d;
}

h4 {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 85px;
}

button {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 75px;
    color: rgb(240, 240, 240);
    background: #1d1d1d;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
    padding: 10px 30px;
}

button:hover {
    background: #414141
}

.container {
    width: 75%;
    height: 40%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(240, 240, 240);
    text-align: center;
    border-radius: 10px;
    z-index: 9999999;
}

.move {
    position: relative;
}

.static {
    position: initial;
}

.hide-button {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.pulsing {
    -moz-animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.jb {
    background-image: url('/jb.gif');
    background-size: cover;
    height: 100%;
    width: 100%;   
    border-radius: 9px;
    position: absolute;
    background-position: center;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.jb.hide {
    opacity: 0;
    pointer-events: none;
}

@media (min-width:1500px) {
    .container {
        width: 460px;
        height: 330px;
    }

    h4 {
        font-size: 45px;
        padding: 0 50px;
    }

    button {
        font-size: 25px;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(243, 88, 243);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(238, 88, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 60px rgba(230, 88, 243, 0);
    }
}